<!-- views/home.ejs -->
<!DOCTYPE html>

<html>
<head>
	<%- include('head'); -%>
</head>
<body>
	<nav>
	    <div class="nav-wrapper" id="top-bar">
			<a href="#" class="brand-logo"> sam's library </a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="">Current Collection</a></li>
				<li><a href="">Wish List</a></li>
				<li><a href="">tbd</a></li>
			</ul>
	    </div>
  	</nav>
  	<div class="container">
  		<table id="lib-table" class="table display">
  			<thead>
  				<tr>
  					<th> Title </th>
  					<th> Author </th>
  					<th> ISBN </th>
  					<th> Review </th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr>
  					<th> Filler </th>
  					<th> Filler </th>
  					<th> Filler </th>
  					<th> Filler </th>
  				</tr>
  			</tbody>
  		</table>
  	</div>
</body>
</html>

<script>
	$(document).ready( function () {
		$('#lib-table').DataTable();
	});

</script>